<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Rock Bands Tribute</title>
</head>
<body>
    <h1>English Rock Bands Tribute</h1>
    <p>This is a tribute page for some of my favorite English rock bands. Amongst them are: Oasis, Pink Floyd, Coldplay and The Beatles. </p>
    <a href="#">Oasis</a>
    <a href="#">Pink Floyd</a>
    <a href="#">Coldplay</a>
    <a href="#">The Beatles</a>
    <a href="about.html">About</a>
</body>
</html>